@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    background-color: #1f1f1f;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 72px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
    margin-top: 5%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    transition: opacity 0.5s;
    color: white;
    margin: none;
    opacity: 100;
}

button:hover {
    opacity: 50%;
    transition: opacity 0.5s;
}

.container {
    display: none;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: white;
    transition: color 0.2s;
    text-align: center;
    font-size: 30px;
    margin: none;
    vertical-align:text-bottom;
}

.container td {
    list-style-type: circle;
    text-align: center;
    border-style: solid;
    display: inline block;
    opacity: 0.5;
    transition: opacity 0.2s;
    background-size: contain;
    vertical-align: top;
    width: 300px;
    height: 300px;
}

.container td:hover {
    opacity: 1;
    transition: opacity 0.2s;
    cursor:pointer;
}

.container table {
    border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;
    width: 900px;
}

.container a {
    font-size: 20px;
    background-color: black;
    display: block;
    padding: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100;
}